<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<extensions>

		<add assembly="NLog.Web.AspNetCore"/>

	</extensions>
	
	<!-- Definicje celów logowania -->
	<targets>
		<target name="exceptionFile" xsi:type="File"
			fileName="D:\PortfolioCS\Kitchelp\Infrastructure\Logging\Logs\exception.log"
			layout="${longdate} ${level:uppercase=true} ${logger}: ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Reguły logowania -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="exceptionFile" />
	</rules>

</nlog>
